@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&family=PT+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #181D31;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER SECTION */
.header{
    width: 92%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.8rem;
    font-family: 'PT Sans', sans-serif;
}

.header-title{
    width: 19%;
    text-align: center;
}

.input-region{
    width: 50%;
    height: 9vh;
}

.input-region label{
    display: none;

}

.input-region input[type='text']{
    width: 87%;
    height: 7vh;
    border: 1px solid;
    border-radius: 10px;
    padding: 9px;
    font-size: 1.6rem;
    margin: 7px 19px;

}

/* MAIN SECTION */

.noteLists{
    width: 87%;
    height: 100vh;
    display: GRID;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.note{
    width: 80%;
    height: 52vh;
    border: 1px solid;
    border-radius: 21%;
    margin: 7px 3px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: #FFEA94; */
    color: black;
}

.note-body{
    width: 79%;
    height: 35vh;
    margin-top: 10px;
    padding: 16px 9px;
    font-size: 1.6rem;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 9vh;
    font-size: 1.2rem;
}

.note-date{
    width: 43%;
    height: 5vh;
    font-size: 1.26rem;
    margin: 2px 4px;
    padding: 4px 3px;
    text-align: center;
}

.note-footer svg{
    font-size: 2.2rem;
    color: rebeccapurple;
    margin: 2px 7px;
    padding: 1px 1px;
    margin-bottom: 12px;
}
